@charset "utf-8";

* {padding: 0; margin: 0; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
ul { list-style-type:none ;}
img {max-width: 100%; vertical-align: middle;}
table {border-collapse: collapse ;width: 100%;}
.row {max-width: 960px; margin: 0 auto;}
button {border: none; background: none ; cursor: pointer;
font-size: 16px;}

body {font-size: 16px; font-family: '나눔고딕';
line-height: 1.5; color: #666;}



#nav {background: #85665c;
position: fixed; width: 100%;
z-index: 99; top: 0; left: 0;}
#nav .depth1 {overflow: hidden;}
#nav .depth1 li {float: left; width: 20%;
text-align: center;
background: #85665c;
color: #fff;
border-bottom: 2px solid transparent;}
#nav .depth1 li a {
    display:block;
    padding: 20px 0px;
}
#nav .depth1 li:hover {
    border-bottom: 2px solid #000;
}


#header {background: url(../images/header_bg.gif) no-repeat center;
background-size: cover; 
height: 600px; position: relative;}
.header_text {position: absolute;
top: 40%; left: 50%;
transform: translate(-50%,-50%);
text-align: center;
color: #333;
margin-top: 66px;}
.header_text >h1 p {font-size: 48px;
    font-family: '나눔명조';
    padding: 20px 0px;}
.header_text >p {font-size: 22.4px;}


#ourgllery,#aboutus,#chefmeun,#roadmap,#reservation
{margin-top: 100px;}

#section {background: url(../images/bg.jpg) repeat;
position: relative;}
#section > div {padding: 48px 0px;}
#section > .article6 {padding: 0px;}
#section h2 {font-size: 48px;font-family:'나눔명조';
color: #85665c;
text-align: center;
margin-bottom: 20px;}


.article1  > .article6{padding: 0px;}
.article1 {}
.main_food {text-align: center;
margin-top: -188px;}
.article1 ul {display: table;
width: 100%; 
color: #666;
text-align: center; margin-top: 110px;}
.article1 ul > li{display: table-cell;
width: 25%; padding: 0 15px;}
.article1 h3 {font-size: 25.6px;
    font-family: '나눔명조';
color: #85665c;
padding: 50px 0px 15px;
line-height: 1.2;}
.article1 ul > li img {height: 97px;}


.article2 {text-align: center;}
.article2 ul li {float: left; width: 25%;
padding: 30px 20px;}
/* 블록성격의 자식들은 한줄로 정렬하기 위해 float 속성을
사용하면 부모의 높이가 사라지는 부작용이 발생함.
이것을 해결하기 위해 부모요소에 overflow:hidden 속성을 줌 */
.article2 ul {
    /* background: lightblue; */
overflow: hidden;}


.article3 {
    text-align: center;
    line-height: 2em;
}
.article3 p {
    padding-bottom: 50px; }
.article3 strong {
    display: block;
    font-size: 28.8px;
    font-family: '나눔명조';
/* 폰트명이 한글이거나, 영문 두 단어 이상일떄는 따옴표로 감쌈 */
color: #404040;
font-weight: normal;
padding:  20px 0;}
.article3 .chef p {
    color: #85665c;
}




.article4 tr {border-bottom: 1px solid #85665c;}
.article4 tr:last-child {border: none;}
.article4 tr p {font-size: 16px;
    font-family: '나눔고딕'; color: #404040;}
.article4 th {font-size: 22.4px;
    font-family: '나눔고딕';
color: #85665c;
text-align: left;
padding: 20px 0;}
.article4 th strong { font-weight: normal;}
.article4 td {font-size: 22.4px;
    font-family:'나눔고딕';
color: #404040;
text-align: right;}
/* .article4 .btu {text-align: center;
    margin-top:50px ;}
    .article4 .btu button {
        width: 175.2px;
        height: 64px;
        border-radius: 50px;
        background: #85665c;
        color: #fff;
        border: none;
        cursor: pointer;
    } */
    .article4 .btu  {text-align: center;}
    .article4 .btu a {
    display: inline-block;
    width: 175.2px;
    height: 64px; line-height: 64px;
    border-radius: 50px;
    background: #85665c;
    color: #fff;
    text-align: center;
}


#detail {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
#detail:target {
    display: block;
}
.detailcont {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    color: #000;
    padding: 20px;
}
.detailcont .close {
    display: block;
    width: 100px; background: red;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    margin:20px auto 0;

    
}



.article5 {overflow: hidden;}
.article5 .info {
   float: left;
    width: 50%;
margin-top: 20px;
}
.article5 .info pre {  
    font-family: inherit;
    }
.article5 .map {
    float: right;
    width: 50%;
    margin-top: 20px;}


.article6 {background: #85665c;
color: #f4ba8e;
font-size: 32px;
font-family: '나눔명조';
text-align: center;}
.article6 a {color: #fff;}
.article6 img {width: 100%;}
.article6 div {
    padding: 45px 0px; 
}

#footer {
    font-size: 16px;
    font-family: '나눔명조';
    color: #fff;
    background: #85665c;
    text-align: center;
    padding: 61px 0;
}


.gotop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 100px;
}
